@font-face {
  font-family: "Muller-light";
  src: url("/fonts/Fontfabric - MullerLight.otf"); }

@font-face {
  font-family: "Muller-regular";
  src: url("/fonts/Fontfabric - MullerRegular.otf"); }

@font-face {
  font-family: "Muller-bold";
  src: url("/fonts/Fontfabric - MullerBold.otf"); }

@font-face {
  font-family: "Proxima-light";
  src: url("/fonts/Proxima Nova Light.otf"); }

@font-face {
  font-family: "Proxima-medium";
  src: url("/fonts/Proxima Nova Semibold.otf"); }

@font-face {
  font-family: "Avenir";
  src: url("/fonts/AvenirNextCyr-Demi.otf"); }

* {
  margin: 0;
  padding: 0;
  outline: 0; }

.fmenu {
  position: fixed;
  z-index: 9000; }
  .fmenu .tf-logo {
    width: 50px;
    height: 50px;
    border: 1px solid;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    text-align: center;
    line-height: 60px;
    position: fixed;
    left: 8.03571vw;
    top: 5.65476vw; }
    .fmenu .tf-logo svg {
      fill: none;
      stroke: #000; }
  .fmenu .fmenu-burger {
    position: fixed;
    right: 9.76563vw;
    top: 6.25vw;
    z-index: 9999; }
  .fmenu .fmenu-title {
    position: fixed;
    font-family: "Avenir";
    font-size: 1.5625vw;
    left: 6.25vw;
    top: 6.25vw; }
    .fmenu .fmenu-title a {
      text-decoration: none;
      color: #150098; }

.f-open, .f-close {
  cursor: pointer;
  stroke: #1efffb;
  fill: none; }

.f-close {
  display: none; }

.popup-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  right: -100vw;
  z-index: 7900; }

.popup-menu {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: #171420 url("/img/typewriter.jpg");
  background-blend-mode: multiply;
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: -100vw;
  z-index: 8000;
  right: -100vw;
  display: none; }
  .popup-menu .left-side, .popup-menu .right-side {
    position: absolute;
    width: 50vw;
    height: 100vh; }
  .popup-menu .left-side {
    right: 50vw;
    color: #1effbc;
    font-family: "Muller-bold";
    font-size: 1.875vw; }
    .popup-menu .left-side p {
      margin-top: 69.44444vh;
      margin-left: 10.15625vw;
      margin-right: 7.8125vw;
      line-height: 1.5em; }
    .popup-menu .left-side a {
      color: #1effbc;
      text-decoration: none; }
    .popup-menu .left-side .udl {
      border-bottom: 2px solid; }
  .popup-menu .right-side {
    right: 0;
    background-color: #191623;
    z-index: 8001; }
    .popup-menu .right-side ul {
      margin-left: 0;
      list-style: none; }
      .popup-menu .right-side ul li {
        color: #fff;
        padding-left: 5.46875vw;
        line-height: 20vh;
        font-family: "Muller-regular";
        font-size: 1.64063vw;
        letter-spacing: 0.3em;
        text-transform: uppercase; }
      .popup-menu .right-side ul li:hover {
        background-color: #1c1927; }
      .popup-menu .right-side ul li.active a {
        color: #1effbc;
        text-decoration: none; }
      .popup-menu .right-side ul a {
        color: #fff;
        text-decoration: none; }

.dl-block {
  position: absolute;
  top: 16.64063vw;
  left: 6.25vw;
  text-align: center;
  width: 125px;
  z-index: 9999;
  cursor: pointer; }
  .dl-block .dl-text {
    font-family: "Muller-bold";
    font-size: 14px;
    -webkit-transform: rotateZ(270deg);
        -ms-transform: rotate(270deg);
            transform: rotateZ(270deg);
    overflow: visible;
    height: 125px;
    color: #fff; }
  .dl-block .dl-size {
    font-family: "Muller-regular";
    font-size: 12px;
    padding-top: 5px;
    color: #fff; }
  .dl-block .dl-icon {
    background-color: #1effbc;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    margin: 0 auto; }
  .dl-block .dl-svg {
    width: 1.17188vw;
    margin-top: 0.3125vw; }

.social {
  position: fixed;
  z-index: 7000;
  left: 9.375vw;
  top: 88.88889vh; }
  .social svg {
    width: 1.5625vw;
    height: 1.5625vw;
    fill: #150098; }

.socbtn {
  color: #fff;
  background-color: #150097;
  -webkit-border-radius: 2em;
          border-radius: 2em;
  padding: 1em; }

.social-sphere {
  cx: 40px;
  cy: 40px;
  r: 40px;
  fill: none;
  stroke: rgba(21, 0, 151, 0.2);
  stroke-width: 5px; }

.social-round svg {
  position: absolute;
  top: -40px;
  left: -40px;
  overflow: visible; }

.social-block {
  position: fixed;
  z-index: 7000;
  left: 1.19048vw;
  top: 61.11111vh;
  width: 300px;
  height: 300px;
  margin: 50px auto; }

.heart {
  position: absolute;
  left: -webkit-calc(50% - 13px);
  left: calc(50% - 13px);
  top: -webkit-calc(50% - 13px);
  top: calc(50% - 13px);
  z-index: 1000; }

.circle-canvas {
  position: absolute;
  top: 90px;
  left: 90px;
  overflow: visible;
  display: none;
  width: 120px;
  height: 120px;
  z-index: 5000; }

.circle-canvas svg {
  overflow: visible; }

.social-circle {
  cx: 60px;
  cy: 60px;
  r: 40px;
  fill: none;
  stroke: rgba(21, 0, 151, 0.2);
  stroke-width: 5px; }

.social-fb, .social-vk {
  color: #fff;
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #150097;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  display: none; }

.social-fb {
  top: 0px;
  left: 40px; }

.social-vk {
  top: 40px;
  left: 80px; }

.socbtn {
  background: none;
  padding: 0;
  margin: 0; }

.content, .fmenu-title, .social {
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-transition-duration: 1s;
          transition-duration: 1s; }

.sidebar {
  position: fixed;
  left: 3.51563vw;
  top: 30vh;
  z-index: 2000;
  width: 13.39286vw;
  display: none; }
  .sidebar .page-name {
    font-family: "Proxima-medium";
    font-size: 1.09375vw;
    color: #cccae3;
    margin: 0 auto;
    width: 1em;
    line-height: 1.5em;
    text-align: center; }
  .sidebar .page-number {
    font-family: "Muller-regular";
    font-size: 0.78125vw;
    color: #cccae3;
    padding-bottom: 2.5em;
    text-align: center; }

section {
  width: 100vw;
  padding-left: 19.53125%; }

section#slide1 {
  position: relative;
  background: #150098 url("/img/typewriter.jpg");
  background-size: cover;
  font-size: 2.03125vw;
  font-family: "Muller-regular";
  color: #fff;
  background-blend-mode: multiply; }

#slide1 .content .s1 {
  font-family: "Muller-regular";
  font-size: 7.8125vw;
  margin-bottom: 3.90625vw;
  color: white; }

.begin ul {
  margin-left: 0;
  padding: 0; }

.begin ul li {
  display: inline-block;
  list-style: none;
  border-top: 2px solid #00fabe;
  border-bottom: 2px solid #00fabe;
  padding: 14px 25px 10px 25px;
  margin-right: 2.734375%;
  font-size: 14px; }

.begin a, .begin a:active, .begin a:visited {
  color: white;
  text-decoration: none; }

.begin ul li:hover {
  background-color: #00fabe; }

.begin ul li:hover a {
  color: black; }

.begin a:hover {
  color: black; }

.content {
  color: #150098;
  width: 58.59375vw; }
  .content h2 {
    font-size: 2.5vw;
    font-family: "Muller-bold"; }
  .content p {
    font-family: "Proxima-light";
    font-size: 2.1875vw;
    margin-top: 3.51563vw;
    letter-spacing: 0.01em;
    line-height: 1.3em; }

#slide2 .content ul {
  margin-left: 0;
  margin-top: 8.59375%; }
  #slide2 .content ul li {
    display: inline-block;
    list-style: none;
    font-family: "Muller-bold";
    font-size: 0.9375vw;
    margin-right: 7.8125%; }
    #slide2 .content ul li a {
      text-decoration: none;
      color: #150098;
      border-bottom: 2px solid;
      padding: 0.78125vw;
      letter-spacing: 0.15625vw;
      -webkit-transition: 1s;
      transition: 1s; }
    #slide2 .content ul li :hover {
      background-color: #00f9bd;
      border-bottom: none;
      -webkit-border-radius: 5px;
              border-radius: 5px; }

.services .service-list {
  list-style: none; }
  .services .service-list .service-list-item {
    display: inline-block;
    margin-right: 2.34375%;
    width: 15.625%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px;
    vertical-align: top; }
    .services .service-list .service-list-item hr {
      border: none;
      color: #00fabe;
      background-color: #00fabe;
      height: 2px;
      margin-top: 20px;
      margin-bottom: 20px; }
    .services .service-list .service-list-item span {
      padding-top: 20px;
      font-family: "Muller-regular";
      font-size: 1.40625vw; }
    .services .service-list .service-list-item a {
      text-decoration: none;
      color: #150098; }
    .services .service-list .service-list-item .service-list-image {
      height: 4.6875vw;
      margin: 0 auto;
      display: block; }
  .services .service-list .service-list-item:hover {
    background-color: #00f9bd;
    -webkit-border-radius: 5px;
            border-radius: 5px; }

#slide5 .content {
  position: relative; }
  #slide5 .content p {
    font-family: "Muller-bold";
    font-size: 2.5vw; }
  #slide5 .content .top-fade, #slide5 .content .bottom-fade {
    position: absolute;
    width: 100%;
    height: 30%;
    display: block;
    z-index: 6000; }
  #slide5 .content .top-fade {
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.1) 100%); }
  #slide5 .content .bottom-fade {
    top: 70%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.1)));
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.1) 100%);
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.1) 100%); }

.gallery {
  margin-top: 7.63889vh;
  position: relative; }
  .gallery .mask-left, .gallery .mask-right {
    position: absolute;
    width: 33%;
    height: 100%;
    z-index: 1000; }
  .gallery .mask-left {
    left: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(255, 255, 255, 0.95)), to(rgba(255, 255, 255, 0.3)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.95) 30%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.95) 30%, rgba(255, 255, 255, 0.3) 100%); }
  .gallery .mask-right {
    right: 0;
    background: -webkit-gradient(linear, right top, left top, color-stop(30%, rgba(255, 255, 255, 0.95)), to(rgba(255, 255, 255, 0.3)));
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.95) 30%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to left, rgba(255, 255, 255, 0.95) 30%, rgba(255, 255, 255, 0.3) 100%); }

#slide4 {
  padding-left: 0; }
  #slide4 .content {
    width: 100%;
    margin: 0;
    padding: 0; }
    #slide4 .content h2 {
      padding-left: 19.53125%;
      float: left; }

.item img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1); }

.occup {
  color: #00f9bd;
  font-family: "Muller-bold";
  font-size: 16px;
  position: relative;
  z-index: 9999;
  margin-top: -2em;
  margin-right: 2em;
  text-align: right; }

.fname {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  font-family: "Muller-light";
  font-size: 1.79687vw; }
  .fname .lname {
    font-family: "Muller-bold";
    font-size: 1.79687vw;
    letter-spacing: .3em; }

.gallery-nav {
  float: right;
  padding-right: 45%;
  z-index: 2000; }

.gallery-counter {
  font-family: "Muller-bold";
  font-size: 22px;
  background-color: #1dffbb;
  color: #29159f;
  width: 55px;
  height: 55px;
  -webkit-border-radius: 27px;
          border-radius: 27px;
  display: inline-block;
  text-align: center;
  line-height: 57px; }

.gallery-right, .gallery-left {
  display: inline-block; }

section#slide7 {
  background-color: #171420; }
  section#slide7 .content {
    color: #1effbc; }
    section#slide7 .content p {
      font-family: "Muller-bold";
      font-size: 2.42188vw; }
      section#slide7 .content p a {
        color: #1effbc;
        text-decoration: none; }
      section#slide7 .content p a:hover {
        text-decoration: underline; }

form.callback-form input {
  background: none;
  border: none;
  font-size: 24px;
  font-family: "Muller-light";
  width: 54.6875vw;
  outline: none;
  color: #ebebeb;
  border-bottom: 2px solid rgba(0, 249, 189, 0.1);
  margin-top: 11.11111vh;
  line-height: 11.11111vh; }

input#send, input#next {
  border: none;
  cursor: pointer;
  background: rgba(29, 255, 187, 0.1);
  width: 107px;
  height: 56px;
  -webkit-border-radius: 28px;
          border-radius: 28px;
  background-clip: padding-box; }

input#send {
  width: 215px;
  line-height: 60px;
  display: none;
  margin-top: 5.55556vh; }

.form-next-btn {
  background: rgba(29, 255, 187, 0.1);
  width: 107px;
  height: 56px;
  -webkit-border-radius: 28px;
          border-radius: 28px;
  margin-top: 5.55556vh; }

.form-right {
  fill: #1EFFBB;
  margin-left: 22px;
  margin-top: 17px; }

.modal {
  position: relative;
  background: #FFF;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  max-height: 90vh;
  overflow: auto; }
  .modal h2 {
    color: #150098;
    font-family: "Muller-bold";
    font-size: 2.5vw; }
  .modal h3 {
    margin-top: 1em;
    color: #150098;
    font-family: "Muller-bold";
    font-size: 1.5625vw; }
  .modal p {
    margin-top: 1em;
    color: #191919;
    font-family: "Muller-light";
    font-size: 1.5625vw; }

.desk-hide {
  display: none; }
