@font-face {
  font-family: "Muller-light";
  src: url("/fonts/Fontfabric - MullerLight.otf"); }

@font-face {
  font-family: "Muller-regular";
  src: url("/fonts/Fontfabric - MullerRegular.otf"); }

@font-face {
  font-family: "Muller-bold";
  src: url("/fonts/Fontfabric - MullerBold.otf"); }

@font-face {
  font-family: "Proxima-light";
  src: url("/fonts/Proxima Nova Light.otf"); }

@font-face {
  font-family: "Proxima-medium";
  src: url("/fonts/Proxima Nova Semibold.otf"); }

@font-face {
  font-family: "Avenir";
  src: url("/fonts/AvenirNextCyr-Demi.otf"); }

* {
  margin: 0;
  padding: 0;
  outline: 0; }

.fmenu {
  position: fixed;
  z-index: 9000; }
  .fmenu .tf-logo {
    width: 50px;
    height: 50px;
    border: 1px solid;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    text-align: center;
    line-height: 60px;
    position: fixed;
    left: 8.03571vw;
    top: 5px; }
    .fmenu .tf-logo svg {
      fill: none;
      stroke: #000; }
  .fmenu .fmenu-burger {
    position: fixed;
    right: 9.76563vw;
    top: 5px;
    z-index: 9999;
    border: 1px solid #000;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 60px; }
  .fmenu .fmenu-title {
    position: fixed;
    font-family: "Avenir";
    font-size: 1.5625vw;
    left: 6.25vw;
    top: 6.25vw; }
    .fmenu .fmenu-title a {
      text-decoration: none;
      color: #150098; }

.f-open, .f-close {
  cursor: pointer;
  stroke: #000;
  fill: none; }

.f-close {
  display: none; }

.mobile-menu {
  padding-top: 0;
  margin-top: 0;
  height: 60px;
  width: 100vw;
  background-color: #fff;
  z-index: 9999;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

.popup-menu {
  position: fixed;
  height: 100vh;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100vw;
  top: -100vh;
  background: #171420;
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: -100vw;
  z-index: 8000;
  display: none; }
  .popup-menu .left-side, .popup-menu .right-side {
    position: absolute;
    width: 100vw; }
  .popup-menu .left-side {
    color: #1effbc;
    font-family: "Muller-bold";
    font-size: 3.75vw; }
    .popup-menu .left-side p {
      margin-top: 69.44444vh;
      margin-left: 10.15625vw;
      margin-right: 7.8125vw;
      line-height: 1.5em; }
    .popup-menu .left-side a {
      color: #1effbc;
      text-decoration: none; }
    .popup-menu .left-side .udl {
      border-bottom: 2px solid; }
  .popup-menu .right-side {
    top: 0;
    background-color: #191623;
    padding-top: 21.875vw;
    z-index: 8001; }
    .popup-menu .right-side ul {
      margin-left: 0;
      list-style: none; }
      .popup-menu .right-side ul li {
        color: #fff;
        padding-left: 5.46875vw;
        line-height: 10vh;
        font-family: "Muller-regular";
        font-size: 3.28125vw;
        letter-spacing: 0.3em;
        text-transform: uppercase; }
      .popup-menu .right-side ul li:hover {
        background-color: #1c1927; }
      .popup-menu .right-side ul li.active a {
        color: #1effbc;
        text-decoration: none; }
      .popup-menu .right-side ul a {
        color: #fff;
        text-decoration: none; }

.dl-block {
  display: none; }

.social {
  display: none; }

.socbtn {
  display: none; }

.social-block {
  display: none; }

.content, .fmenu-title, .social {
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-transition-duration: 1s;
          transition-duration: 1s; }

.page-number {
  font-family: "Muller-regular";
  font-size: 12px;
  color: #cccae3;
  padding-bottom: 2.5em;
  text-align: center;
  width: 100vw;
  height: 21.875vw;
  display: table-cell;
  vertical-align: middle; }

section {
  width: 100vw;
  padding-left: 10.9375%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

section#slide1 {
  height: 100vh;
  position: relative;
  background: #150098 url("/img/typewriter-mobile.jpg");
  background-size: cover;
  background-position: center;
  font-size: 2.03125vw;
  font-family: "Muller-regular";
  color: #fff;
  background-blend-mode: multiply; }

#slide1 .content .s1 {
  font-family: "Muller-regular";
  font-size: 7.8125vw;
  padding-top: 100vw;
  color: white; }

.content {
  color: #150098;
  width: 58.59375vw;
  position: relative; }

#slide2 {
  padding-left: 0; }
  #slide2 .content {
    width: 80%;
    margin: 0 auto;
    padding-top: 21.875vw; }
    #slide2 .content h2 {
      color: #13009a;
      font-family: "Muller-bold";
      font-size: 25px;
      text-align: center;
      margin: 15px; }
    #slide2 .content p {
      color: #13009a;
      font-family: "Proxima-light";
      font-size: 15px;
      line-height: 2em; }

#slide3 {
  padding-left: 0;
  color: #13009a;
  font-family: "Muller-bold";
  font-size: 20px;
  margin-top: 2em; }
  #slide3 .content {
    width: 80vw;
    margin: 0 auto;
    padding: 1em 0; }

.services .service-list {
  list-style: none; }
  .services .service-list .service-list-item {
    display: inline-block;
    margin-right: 2.34375%;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px; }
    .services .service-list .service-list-item hr {
      border: none;
      color: #00fabe;
      background-color: #00fabe;
      height: 2px;
      margin-top: 20px;
      margin-bottom: 20px; }
    .services .service-list .service-list-item span {
      padding-top: 20px;
      font-family: "Muller-regular";
      font-size: 3.125vw; }
    .services .service-list .service-list-item a {
      text-decoration: none;
      color: #150098; }
    .services .service-list .service-list-item .service-list-image {
      height: 23.4375vw;
      margin: 0 auto;
      display: block; }
  .services .service-list .service-list-item:hover {
    background-color: #00f9bd;
    -webkit-border-radius: 5px;
            border-radius: 5px; }

#slide4 {
  padding-left: 0; }
  #slide4 .content {
    width: 100%;
    margin: 0;
    padding-top: 2em; }
    #slide4 .content h2 {
      text-align: center;
      color: #13009a;
      font-family: "Muller-bold";
      font-size: 30px;
      line-height: 21.875vw;
      background-color: #00f9bd; }

.gallery {
  margin-top: 2em;
  position: relative; }
  .gallery .mask-left, .gallery .mask-right {
    display: none; }

.team-item img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1); }

.occup {
  color: #00f9bd;
  font-family: "Muller-bold";
  font-size: 16px;
  position: relative;
  z-index: 9999;
  margin-top: -3em;
  margin-right: 2em;
  text-align: left;
  display: block;
  height: 2em;
  width: 50%;
  margin-left: 50%; }

.fname {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 1em;
  font-family: "Muller-light";
  font-size: 30px; }
  .fname .lname {
    font-family: "Muller-bold";
    font-size: 30px;
    letter-spacing: .3em; }

.gallery-nav {
  width: 100%;
  margin-top: 2em;
  display: inline-block;
  text-align: center; }

.gallery-counter, .vertical-counter, .blog-counter {
  font-family: "Muller-bold";
  font-size: 22px;
  background-color: #1dffbb;
  color: #29159f;
  width: 55px;
  height: 55px;
  -webkit-border-radius: 27px;
          border-radius: 27px;
  display: inline-block;
  text-align: center;
  line-height: 57px; }

.vertical-counter, .blog-counter {
  margin: 10px 0; }

.gallery-counter {
  margin: 0 10px; }

.gallery-right, .gallery-left {
  display: inline-block; }

.blog-left, .blog-right {
  -webkit-transform: rotateZ(90deg);
      -ms-transform: rotate(90deg);
          transform: rotateZ(90deg); }

section#slide5 {
  padding-left: 0;
  padding-top: 1em; }
  section#slide5 .slide5-head {
    width: 100%;
    text-align: center;
    color: #13009a;
    font-family: "Muller-bold";
    font-size: 30px;
    line-height: 21.875vw;
    background-color: #00f9bd; }
  section#slide5 .content {
    position: relative;
    min-height: 250px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    section#slide5 .content ul {
      margin-left: 0; }
      section#slide5 .content ul li {
        font-family: "Muller-bold";
        font-size: 16px;
        list-style: none;
        margin-top: 30px; }
    section#slide5 .content .top-fade, section#slide5 .content .bottom-fade {
      position: absolute;
      width: 100%;
      height: 30%;
      display: block;
      z-index: 6000; }
    section#slide5 .content .top-fade {
      top: 0;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.1)));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.1) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.1) 100%); }
    section#slide5 .content .bottom-fade {
      top: 70%;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.1)));
      background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.1) 100%);
      background: linear-gradient(to top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.1) 100%); }
    section#slide5 .content .vertical-nav {
      position: absolute;
      top: 50%;
      right: 10px;
      z-index: 9000;
      color: #000;
      cursor: pointer;
      text-align: center;
      margin-top: -97px; }
    section#slide5 .content .vertical-scroller {
      padding: 1em 60px; }

section#slide6 {
  padding-left: 0; }
  section#slide6 .content {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 1em 0; }
  section#slide6 .slide6-head {
    width: 100%;
    text-align: center;
    color: #13009a;
    font-family: "Muller-bold";
    font-size: 30px;
    line-height: 21.875vw;
    background-color: #00f9bd; }
  section#slide6 .blog-card {
    width: 46.875vw;
    height: auto;
    overflow: hidden; }
  section#slide6 .blog-date {
    font-family: Proxima-light;
    font-weight: bold;
    font-size: 16px;
    color: #969696;
    margin-bottom: 1em; }
  section#slide6 .blog-image img {
    width: 46.875vw;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    height: auto; }
  section#slide6 .show-more a {
    text-decoration: none;
    color: #1b00c5;
    font-family: Proxima-light;
    font-weight: bold;
    font-size: 16px;
    padding: 1em 0; }
  section#slide6 .show-more:hover {
    text-decoration: underline; }
  section#slide6 h2 {
    font-size: 25px;
    color: #150098;
    font-family: Muller-bold;
    margin: 20px 0; }
  section#slide6 p {
    margin-top: 5px;
    color: #434343;
    font-family: Proxima-light;
    font-size: 16px; }

.blog-nav {
  position: absolute;
  top: 50%;
  margin-top: -97px;
  right: 9.76563vw;
  z-index: 9000;
  color: #000;
  cursor: pointer;
  text-align: center; }

section#slide7 {
  background-color: #171420;
  height: 100vh;
  padding-left: 0; }
  section#slide7 .content {
    color: #1effbc;
    padding: 2em 0;
    width: 80%;
    margin: 0 auto; }
    section#slide7 .content p {
      font-family: "Muller-bold";
      font-size: 6.25vw;
      color: #00f9bd; }
      section#slide7 .content p a {
        color: #00f9bd;
        text-decoration: none; }
      section#slide7 .content p a:hover {
        text-decoration: underline; }

form.callback-form input {
  background: none;
  border: none;
  font-size: 24px;
  font-family: "Muller-light";
  width: 80vw;
  outline: none;
  color: #ebebeb;
  border-bottom: 2px solid rgba(0, 249, 189, 0.1);
  margin-top: 11.11111vh;
  line-height: 11.11111vh; }

input#send, input#next {
  border: none;
  cursor: pointer;
  background: rgba(29, 255, 187, 0.1);
  width: 107px;
  height: 56px;
  -webkit-border-radius: 28px;
          border-radius: 28px;
  background-clip: padding-box; }

input#send {
  width: 215px;
  line-height: 60px;
  display: none;
  margin-top: 5.55556vh; }

.form-next-btn {
  background: rgba(29, 255, 187, 0.1);
  width: 107px;
  height: 56px;
  -webkit-border-radius: 28px;
          border-radius: 28px;
  margin-top: 5.55556vh; }

.form-right {
  fill: #1EFFBB;
  margin-left: 22px;
  margin-top: 17px; }

.modal {
  position: relative;
  background: #FFF;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  max-height: 90vh;
  overflow: auto; }
  .modal h2 {
    color: #150098;
    font-family: "Muller-bold";
    font-size: 2.5vw; }
  .modal h3 {
    margin-top: 1em;
    color: #150098;
    font-family: "Muller-bold";
    font-size: 1.5625vw; }
  .modal p {
    margin-top: 1em;
    color: #191919;
    font-family: "Muller-light";
    font-size: 1.5625vw; }

.mob-hide {
  display: none; }

.desk-hide {
  display: block; }
